.button-loggin {
    text-align: center;
  }
  
  .header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: #000000;
     background: linear-gradient(to right, #8FF3ED, #F4DCC0);
    /* Fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F4DCC0, #8FF3ED);
    /* Chrome 10-25, Safari 5.1-6 */
  }
  
  .App-link {
    color: #3DB6F3;
  }
  
  .opacidad {
    opacity: 0.65;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25%;
    width: 25%;
    display: flex;
    align-self: center;
  }

  .btn.btn-primary {
    margin-bottom: 22px;
    margin-top: 31px;
  }
  